<%if @log %>
  <h2>Deploy logs</h2>
  <ul class="logs">
  <% @log.each do |msg| %>
    <li><%=h msg %></li>
  <% end %>
  </ul>
  
<% elsif @error %>
  <h2>Deployment error</h2>
  <p class="error"><%=h @error %></p>
<% end %>

