<h2>Edit: <%=h File.basename(@file) %></h2>

<% if @error %>
  <p class="error"><%=h @error %></p>
<% end %>

<form action="/<%=h @action %>" method="post">
  <textarea name="contents"><%=h @contents %></textarea>
  <input type="submit" value="Save">
</form>

