<h2>Helium, the JavaScript package server</h2>

<p>Helium hosts versioned copies of JavaScript libraries checked out from Git,
and lets you load objects from these libraries on demand. It uses
<a href="http://github.com/jcoglan/jake">Jake</a> to build each library and extract
dependency data, and <a href="http://jsclass.jcoglan.com/packages.html">JS.Packages</a>
to resolve dependencies and load files at runtime. The
<a href="/<%= Helium::WEB_ROOT %>/<%= Helium::PACKAGES %>">package manifest</a> is
generated using data extracted during the build process.</p>

<p>To use libraries from this server, drop the following in your <code>HEAD</code>:</p>

<pre class="prettyprint">&lt;script src="http://<%= @location %>/<%= Helium::PACKAGES_MIN %>"
        type="text/javascript">&lt;/script>

&lt;script type="text/javascript">
// Specify which branch/tag of each Git project to use, e.g.
// Helium.use('yui', '2.7.0');
// Helium.use('ojay', '0.4.1');
&lt;/script></pre>

<p>Use the <code>require()</code> function throughout your pages to load JavaScript
objects on demand. Dependencies are automatically handled for you:</p>

<pre class="prettyprint">&lt;script type="text/javascript">
require('GMap2', 'YAHOO.util.Selector', function() {
    
    var box   = document.getElementById('mapview'),
        map   = new GMap2(box),
        links = YAHOO.util.Selector.query('a');
});
&lt;/script></pre>

<p>To set up Helium, you&rsquo;ll need to <a href="/app/config">add projects to deploy</a>
using YAML format. Each entry should be the name of a project followed by its Git URL.
Helium relies on JS.Class, for which you need to set a Git URL and a version to use:</p>

<pre>---
js.class:
  repository:       git://github.com/jcoglan/js.class.git
  version:          2.1.x

projects:
  your-library:     git://github.com/your/library.git</pre>

<p>You may also want to <a href="/app/custom">add some custom loaders</a> for libraries
not deployed using Helium. For example the following are loaders for Google Maps:</p>

<pre class="prettyprint">/**
 * Loads the `google.load` function, required to load other
 * parts of the Google API. Requires `Helium.GOOGLE_API_KEY`
 * to be set beforehand.
 **/
loader(function(cb) {
    var url = 'http://www.google.com/jsapi?key=' + Helium.GOOGLE_API_KEY;
    load(url, cb);
})  .provides('google.load');

/**
 * Loads the Google Maps API. Requires `Helium.GOOGLE_API_KEY`
 * to be set beforehand.
 **/
loader(function(cb) { google.load('maps', '2.x', {callback: cb}) })
    .provides('GMap2', 'GClientGeocoder',
              'GEvent', 'GLatLng', 'GMarker')
    .requires('google.load');</pre>

