<h2>Helium, the JavaScript package server</h2>

<p>Helium deploys versioned copies of JavaScript libraries from Git repositories,
using <a href="http://github.com/jcoglan/jake">Jake</a> to generate package listings
for use with <a href="http://jsclass.jcoglan.com/packages.html">JS.Packages</a>. It
provides a central server from which JavaScript objects can be loaded on-demand, and
handles dependency resolution automatically using metadata stored in each library&rsquo;s
Git repo.</p>

<p>To get started, <a href="/config">add some projects to deploy</a> in YAML format.
For example:</p>

<pre>---
js.class:     git://github.com/jcoglan/js.class.git
yui:          git://github.com/othermedia/yui.git
ojay:         git://github.com/othermedia/ojay.git</pre>

<p>You may also want to <a href="/custom">add some custom loaders</a> for libraries
not deployed using Helium. For example the following are loaders for Google Maps:</p>

<pre class="prettyprint">/**
 * Loads the `google.load` function, required to load other
 * parts of the Google API. Requires `Helium.GOOGLE_API_KEY`
 * to be set beforehand.
 **/
loader(function(cb) {
    var url = 'http://www.google.com/jsapi?key=' + Helium.GOOGLE_API_KEY;
    load(url, cb);
})  .provides('google.load');

/**
 * Loads the Google Maps API. Requires `Helium.GOOGLE_API_KEY`
 * to be set beforehand.
 **/
loader(function(cb) { google.load('maps', '2.x', {callback: cb}) })
    .provides('GMap2', 'GClientGeocoder',
              'GEvent', 'GLatLng', 'GMarker')
    .requires('google.load');</pre>

<p>Integrate Helium with your web sites by adding the following to the <code>HEAD</code>
section of your pages to set up the package manager:</p>

<pre class="prettyprint">&lt;script type="text/javascript">
JSCLASS_PATH = 'http://localhost:9292/<%= Helium::WEB_ROOT %>/js.class/2.1.x/build/min';&lt;/script>

&lt;script src="http://localhost:9292/<%= Helium::WEB_ROOT %>/js.class/2.1.x/build/min/loader.js"
        type="text/javascript">&lt;/script>
&lt;script src="http://localhost:9292/<%= Helium::WEB_ROOT %>/packages.js"
        type="text/javascript">&lt;/script>

&lt;script type="text/javascript">
// Specify which branch/tag of each Git project to use
Helium.use('yui', '2.7.0');
Helium.use('ojay', '0.4.1');
&lt;/script></pre>

<p>Use the <code>require()</code> function throughout your pages to load JavaScript
objects on demand. Dependencies are automatically handled for you:</p>

<pre class="prettyprint">&lt;script type="text/javascript">
require('GMap2', 'YAHOO.util.Selector', function() {
    
    var box   = document.getElementById('mapview'),
        map   = new GMap2(box),
        links = YAHOO.util.Selector.query('a');
    
    // &amp;c.
});
&lt;/script></pre>

