body { margin: 0; padding: 0; background: #fff; color: #000;
       font: 13px/1.385 Helvetica, Arial, sans-serif;
       border-top: 16px solid #EC6D0A; }
.container { width: 960px; margin: 0 auto; }
h1 { font-size: 200%; margin: 1em 0; padding-bottom: 1em; border-bottom: 1px solid #5C5C4F; }
h1 a { display: block; width: 230px; height: 0; overflow: hidden;
       padding-top: 32px; background: url(/logo.gif) top left no-repeat; }
h1 span { color: #444; font-weight: normal; font-size: 70%;
          display: block; padding-left: 26px; margin-top: 6px; }
.sidebar { width: 220px; padding-right: 19px; border-right: 1px solid #5C5C4F; float: left; }
.sidebar label { font-size: 120%; }
.sidebar .project { margin-bottom: 0.5em; }
.main { width: 720px; float: left; }
.main ul, .main li { list-style: none; margin-top: 0; }
.main li { margin-bottom: 0.5em; }
.footer { clear: both; margin: 1em 0 2em; font-size: 80%; color: #444;
          border-top: 1px solid #5C5C4F; padding: 1em 0; }
.footer a { color: #EC6D0A; }
