body { font: 16px/1.5 Georgia, Times New Roman, serif; background: #f0f0f0; color: #000; margin: 0; padding: 0; text-align: center; }
.container { background: #fff; text-align: left; margin: 0 auto; padding: 80px 48px 0; width: 860px; }

.clear { clear: both; font-size: 0; height: 0; overflow: hidden; }
a { background: #4d6f9f; color: #fff; text-decoration: none; }

.header { border-bottom: 1px solid #ccc; margin: 0 -48px; padding: 0 48px; }

h1 { margin: 0 0 24px -48px; _margin-left: -24px; float: left; width: 328px; }
h1 a { font: 72px Helvetica, Arial, sans-serif; font-weight: normal; letter-spacing: -0.08em; background: #c4e510; color: #fff; text-decoration: none; display: block; padding: 0 24px 0 48px; }
h1 a .symbol { font-style: italic; font-weight: normal; font-family: Georgia; }
h1 .tagline { font: italic 14px Times New Roman, serif; display: block; padding: 8px 24px 0 48px; }

.navigation { float: left; margin: 0; padding: 0; }
.navigation li { list-style: none; float: left; margin: 0 0 0 60px; _margin: 0 0 0 30px; padding: 0; width: 220px; }
.navigation h3 { margin: 0; padding: 0; }
.navigation a { font: 16px Helvetica, Arial, sans-serif; padding: 0 8px; }
.navigation p { font-size: 90%; color: #444; margin: 0.4em 0; }

form { clear: left; float: left; width: 200px; margin: 24px 80px 24px 0; }
form ul { margin: 0; padding: 0; }
form li { margin: 0 0 4px; padding: 4px 8px; list-style: none; background: #62afcd; color: #fff; }

.main { float: left; width: 580px; padding: 24px 0; }
h2 { font-size: 150%; font-weight: normal; margin: 0 0 24px; }
.logs { font-size: 80%; font-family: Helvetica, Arial, sans-serif; }
.logs li { margin-bottom: 1em; }

.main form { margin: 0; }
.main textarea { width: 500px; height: 300px; }

.footer { border-top: 1px solid #ccc; margin: 80px -48px; _margin: 40px -48px; padding: 24px 48px 80px; font-size: 90%; }

